body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* evenly distribute space */
  height: 100%;
  width: 100%;
  padding: 2% 5%; /* add padding on left and right */
  background: #2d2d2d;
  border-radius: 0;
}

label {
  font-size: 3vh; /* larger font size for labels */
}

input {
  width: 100%;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 4vh; /* use viewport height to scale input size */
  padding: 2vh 5%; /* adjusted padding to match form and button */
  box-sizing: border-box; /* include padding and border in element's total width */
  margin-bottom: 2vh; /* use viewport height to scale margin */
  background-color: #4a4a4a;
  color: #fff;
}

input[type="button"] {
  cursor: pointer;
  padding: 2vh 5%; /* added same padding as form */
  font-size: 4vh; /* use viewport height to scale button size */
  font-weight: bold; /* added bold font */
  background-color: #fbec53;
  color: #121212;
  font-family: Helvetica, Arial, sans-serif; /* ensure Helvetica font is used */
}

input[type="button"]:hover {
  background-color: #e8d048;
}
