body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 5%; /* Increased padding at top and bottom */
  background: #2d2d2d;
  border-radius: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 3vh;
  margin-bottom: 1vh;
}

input {
  width: 100%;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 4vh;
  padding: 2vh 5%;
  box-sizing: border-box;
  background-color: #4a4a4a;
  color: #fff;
  margin-bottom: 0; /* Removed space between input fields */
}

input[type="button"] {
  cursor: pointer;
  padding: 2vh 5%;
  font-size: 4vh;
  font-weight: bold;
  background-color: #fbec53;
  color: #121212;
  font-family: Helvetica, Arial, sans-serif;
}

input[type="button"]:hover {
  background-color: #e8d048;
}
